# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
CLAUDE.md
.claude/

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# production
/build
/public/github-sitemap.xml
/public/rss/blog.xml
/public/rss/projects.xml
/public/rss/talks.xml
/public/rss/timeline.xml
/public/sitemap-0.xml
/public/sitemap-1.xml
/public/sitemap-2.xml
/public/sitemap-3.xml
/public/sitemap.xml
note.md

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
